* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

main header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 92px;
}
main header nav .menu {
  display: flex;
}
main header nav .menu .item {
  padding-left: 35px;
  position: relative;
  display: flex;
  align-items: center;
}
main header nav .menu .item a {
  color: white;
}
main header nav .menu .item + .item {
  margin-left: 28px;
}
main header nav .menu .item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-62%);
  background-image: url(../images/sobre.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
main header nav .menu .radio::before {
  background-image: url(../images/radio.png);
}
main header nav .menu .login::before {
  background-image: url(../images/user.png);
}
@media (max-width: 1199px) {
  main header nav {
    position: absolute;
    left: -1000px;
  }
}
main header .menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18px;
  height: 18px;
}
main header .menu-toggle::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 5px;
  top: 0;
  width: 27px;
  height: 3px;
}
main header .menu-toggle div {
  width: 27px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main header .menu-toggle::after {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 5px;
  bottom: 0;
  width: 27px;
  height: 3px;
}
@media (min-width: 1200px) {
  main header .menu-toggle {
    display: none;
  }
}

main .pomodoro .container {
  background: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 55px;
  padding-top: 50px;
  padding-right: 55px;
  padding-bottom: 50px;
}
main .pomodoro .timer-options {
  display: flex;
  cursor: pointer;
  margin-bottom: 88px;
}
main .pomodoro .timer-options .item {
  font-size: 16px;
}
main .pomodoro .timer-options .item + .item {
  margin-left: 60px;
}
main .pomodoro .timer {
  display: flex;
  font-size: 72px;
  margin-bottom: 64px;
}
main .pomodoro .buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main .pomodoro .buttons button {
  cursor: pointer;
  background-color: transparent;
  color: #470A6D;
  border: none;
  border-radius: 8px;
}
main .pomodoro .buttons button i {
  font-size: 25px;
  padding: 12px;
}

/*# sourceMappingURL=style.css.map */
