main {
  header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: {
        top: 92px;
        bottom: 92px;
      }
    }

    .logo {
    }

    nav {
      .menu {
        display: flex;

        .item {
          padding-left: 35px;
          position: relative;
          display: flex;
          align-items: center;

          a {
            color: white;
          }

          + .item {
            margin-left: 28px;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-62%);

            background: {
              image: url(../images/sobre.png);
              position: center center;
              repeat: no-repeat;
              size: cover;
            }

            width: 20px;
            height: 20px;
          }
        }

        .radio {
          &::before {
            background-image: url(../images/radio.png);
          }
        }

        .login {
          &::before {
            background-image: url(../images/user.png);
          }
        }
      }

      @media (max-width: 1199px) {
        position: absolute;
        left: -1000px;
      }
    }

    .menu-toggle {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18px;
      height: 18px;

      &::before {
        content: "";
        position: absolute;
        background-color: white;
        border-radius: 5px;
        top: 0;
        width: 27px;
        height: 3px;
      }

      div {
        width: 27px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        border-radius: 5px;
        bottom: 0;
        width: 27px;
        height: 3px;
      }

      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
}
